.box-Noticia {
    padding: 8px;
    margin: 0.50%;
    max-height: 140px;
    overflow: auto;
    color: #cfcfcf;
    clear: both;
    border: rgb(0, 0, 0) solid 2px;
    border-radius: 8px;
}

.box-Noticia img {
    float: left;
    margin-right: 10px;
    width: 180px;
    height: 110px;
    color: black;
    border: black solid 1px;
    border-radius: 8px;
}

.box-Noticia .titulo{
    font-weight: 700;
    color: rgba(34, 33, 33, 0.849);
}

.box-Noticia .creditos{
    color: rgb(146, 43, 43);
}

.box-Noticia .text{
    color: black;
}

.noticiasIndex h3{
    color: black;
    margin: 8px;
    padding: 8px;
    border: black solid 2px;
    background-color: rgba(216, 216, 216, 0.815);
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.navbar{
    margin-top: 8px;
    background-color: rgb(168, 168, 168);
    border-radius: 8px;
}

.form-control{
    border-radius: 8px;
}

#btnPesquisa{
    background-color: rgba(128, 128, 128, 0.466);
    border: black solid 1px;
    border-radius: 8px;
}

#btnPesquisa:hover{
    background-color: ghostwhite;
}

#menuLateral{
    margin: 4px;
    margin-top: 3%;
    padding: 20px;
    height: 500px;
    border: black solid 2px;
    overflow-x: hidden;
}

#fontes{
    border: black solid 1px;
    height: 175px;
    margin: 10px;
    border-radius: 8px;
}

#fontes h4{
    margin-top: 8px;
}

#fontesTitle{
    text-align: center !important;
}

#categorias{
    border: black solid 1px;
    height: 240px;
    margin: 10px;
    border-radius: 8px;
}

#categorias h4{
    margin-top: 8px;
}

#categoriasTitle{
    text-align: center !important;
}
