.box-Noticia {
    padding: 8px;
    margin: 0.50%;
    max-height: 140px;
    overflow: auto;
    color: #cfcfcf;
    clear: both;
    border: rgb(0, 0, 0) solid 2px;
    border-radius: 8px;
}

.box-Noticia img {
    float: left;
    margin-right: 10px;
    width: 180px;
    height: 110px;
    color: black;
    border: black solid 1px;
    border-radius: 8px;
}

.box-Noticia .titulo{
    font-weight: 700;
    color: rgba(34, 33, 33, 0.849);
}

.box-Noticia .creditos{
    color: rgb(146, 43, 43);
}

.box-Noticia .text{
    color: black;
}

.noticiasIndex h3{
    color: black;
    width: 80%;
    margin: 8px;
    padding: 8px;
    border: black solid 2px;
    background-color: rgba(216, 216, 216, 0.815);
    text-align: center;
    margin-left: 5%;
    margin-right: 0;
}

#btnPraSalvar{
    background-color: rgba(62, 118, 223, 0.096);
    border: rgb(62, 118, 223) solid 1px;
    border-radius: 8px;
    margin-bottom: 15px !important;
    color: blue;
    margin-left: 1%;
}

#btnPraSalvar:hover{
    background-color: rgba(114, 114, 230, 0.767);
}

#tituloDoMenu{
    border: rgb(62, 118, 223) solid 1px;
    height: 40px;
    margin-left: 10px;
}

#btnPraSalvarModal{
    background-color: rgba(62, 118, 223, 0.096);
    border: rgb(62, 118, 223) solid 1px;
    border-radius: 8px;
    color: blue;
}

#valuePraSalvarModal{
    border: rgb(62, 118, 223) solid 1px;
    height: 40px;
    margin-left: 10px;
}

#btnPraSalvarModal:hover{
    background-color: rgba(114, 114, 230, 0.767);
}

.navbar{
    margin-top: 8px;
    background-color: rgb(168, 168, 168);
    border-radius: 8px;
}

.form-control{
    border-radius: 8px;
}

#btnPesquisa{
    background-color: rgba(128, 128, 128, 0.466);
    border: black solid 1px;
    border-radius: 8px;
}

#btnPesquisa:hover{
    background-color: ghostwhite;
}

#menuLateral{
    margin: 4px;
    margin-top: 3%;
    padding: 20px;
    height: 800px;
    border: black solid 2px;
    overflow-x: hidden;
}

#fontes{
    border: black solid 1px;
    height: 175px;
    margin: 10px;
    border-radius: 8px;
}

#fontes h4{
    margin-top: 8px;
}

#fontesTitle{
    text-align: center !important;
}

#categorias{
    border: black solid 1px;
    height: 240px;
    margin: 10px;
    border-radius: 8px;
}

#categorias h4{
    margin-top: 8px;
}

#categoriasTitle{
    text-align: center !important;
}

#pesquisasSalvas{
    border: black solid 1px;
    height: 250px;
    margin: 10px 10px;
    border-radius: 8px;
}

#pesquisaTitulo{
    color: rgb(62, 118, 223);
    margin-top: 10px;
    text-align: center !important;
}

#pesquisaSave{
    margin: 10px;
    border-radius: 8px;
}